<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invite Friend</title>
</head>
<body style="background-color: #F7F7F7; font-family: 'Sofia Pro', Arial, sans-serif; margin: 0; padding: 0;">
<div class="container" style="padding-top: 16px;">

    <!-- Logo -->
    <div class="logo-container" style="text-align: center;">
        <img src="https://summercircleimageupload.blob.core.windows.net/email-assets/summer_circle_logo.png" alt="Logo" class="logo" width="215" height="128">
    </div>

    <div class="spacer-16" style="height: 16px;"></div>

    <!--h3 Center Title-->
    <div class="h3-text" style="color: var(--neutrals-mine-shaft, #282828); font-size: 18px; font-style: normal; font-weight: 800; line-height: normal; text-align: center;">
        <h3>Have you joined already?</h3>
    </div>

    <div class="spacer-16" style="height: 16px;"></div>

    <!-- White Card -->
    <div class="white-card" style="background-color: #ffffff; padding: 16px; border-radius: 16px; margin: 16px;">
        <div class="user-info" style="display: flex; align-items: center;">
            <img src="https://summercircleimageupload.blob.core.windows.net/email-assets/username_icon.png" alt="Person Icon" class="person-icon" style="max-width: 24px; max-height: 24px;">
            <p><span class="username" style="color: #9E3FF6;">{{userName}}</span> would like to connect with you on SummerCircle.</p>
        </div>
    </div>



    <div class="white-card" style="background-color: #ffffff; padding: 16px; border-radius: 16px; margin: 16px;">
        <div class="circle-profile-image" style="width: 280.55px; height: 328.74px; overflow: hidden; margin: 0 auto;">
            <img src="https://summercircleimageupload.blob.core.windows.net/email-assets/high_light.png" alt="Profile Image" class="profile-image" style="width: 100%; height: 100%; object-fit: cover;">
        </div>
    </div>


    <!-- Purple Button 1 -->
    <a href="https://summercircles.page.link/fWXQa3Bkz5FFGZQr7" class="purple-button" style="display: block; background-color: #9E3FF6; color: #ffffff; text-align: center; padding: 16px; border-radius: 16px; font-size: 16px; text-decoration: none; margin: 16px;">Download our free app!</a>

</div>
</body>
</html>
