<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OTP Code Email</title>
</head>
<body style="background-color: #F7F7F7; font-family: 'Sofia Pro', Arial, sans-serif;">
  <div class="container" style="padding-top: 32px;">
    <!-- Logo -->
    <div class="logo-container" style="text-align: center;">
      <img src="https://summercircleimageupload.blob.core.windows.net/email-assets/summer_circle_logo.png" alt="Logo" class="logo" style="width: 215px; height: 128px;" width="215" height="128">
    </div>

    <div class="spacer-32" style="height: 32px;"></div>

    <!-- White Card -->
    <div class="white-card" style="background-color: #ffffff; padding: 16px; border-radius: 16px; margin: 20px;">
      <div class="otp-info" style="text-align: center;">
        <p>Your One-Time Password (OTP) Code is:</p>
        <h1 class="otp-code" style="font-size: 32px; margin-top: 16px; margin-bottom: 16px; color: #9E3FF6;">{{otpCode}}</h1>
        <p>This OTP code is valid for a single use and expires after a short period. Please do not share this code with anyone.</p>
      </div>
    </div>

    <!-- Spacer -->
    <div class="spacer-32" style="height: 32px;"></div>

    <!-- Purple Button 1 (with black border) -->

  </div>
</body>
</html>